#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px !important;
  font-size: 18px !important;
  line-height: 64px !important;
  cursor: pointer !important;
  transition: color 0.3s !important;
}

#components-layout-demo-custom-trigger .trigger:hover {


}

.logo {
  height: 32px !important;
  margin: 16px !important;
  background: rgba(255, 255, 255, 0.3) !important;
}

.site-layout .site-layout-background {
  background: #fff !important;
}
.ant-layout-sider {

  background: #fff !important;
  border-right: 1px solid gray;
 
 
}
.ant-menu.ant-menu-dark{
  background-color:#fff !important;
  
 
}
.ant-menu-item{
  background-color:#fff !important;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #fff !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: rgb(255, 216, 167) !important;
  
}
.ant-menu-title-content{
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.ant-menu-item{
  color: #000 !important;
  font-size: 16px;
  font-weight: 500;
}

.logo{
  background-color: aqua !important;
}
.logo img{
  width: 150px;
  height: 20px;
}

.anticon-menu-fold {
  margin-left: 15px !important;
}
.productItem_title span {
  color: gray !important;
}
.site-layout-background{
  position: relative;
}
.collapse{
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 15px 0 0;
}