.detail-oder{
    width: 100%;
  
    height: max-content;
    background-color: #fff;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr ;  
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid gray;
}

.detail-oder_img{
    display: flex; 
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.detail-oder_img h3{
   font-weight: 450;
   font-size: 17px;
}
.detail-oder_img img{
    height: 79px;
    width: 79px;
}

.detai-oder_item h3{
    font-size: 17px;
    font-weight: 400;
}
.detai-oder_item h2{
    font-size: 17px;
    font-weight: 400;
    color: #ee4d2d;
}
.detai-oder_item span{
    font-size: 17px;
    font-weight: 400;
    color: gray;
  
}
.oder-item_color{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.oder-item_backgroudcolor{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}