.oder-manage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.date-order{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}