.paradigm{
    height: max-content;
    margin: 30px 0px;
    padding: 10px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.paradigm-title{
    display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.paradigm-infor{
    margin-top: 20px;
}
.paradigm-infor h3{
    padding-left: 200px;
}
.paradigm-chart_infor{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 200px;
    margin-bottom: 15px;
    /* overflow-x: auto; */
}
.paradigm-chart_infor-color{
    height: 20px;
    width: 30px;
}
.paradigm-chart h3{
    text-align: center;
}
